/* ================================================
  FONDO 
   ================================================ */
.root {
    -fx-background-color: #E6F0FA;
}

.panel_lateral {
    -fx-background-color: #002C6E;
}


.btn_Menu {
    -fx-background-color: #002C6E;
    -fx-border-color: #002C6E;
    -fx-border-width: 2px;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
}

.btn_Menu:hover {
    -fx-background-color: #004A99;
    -fx-border-color: #004A99;
}
.BOTON-CERRAR {
    -fx-background-color: #f44336;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 6;
    -fx-padding: 10 25;
    -fx-cursor: hand;
    -fx-font-size: 14px;
}
.BOTON-CERRAR:hover {
    -fx-background-color: #e53935;
}